{% extends 'base.html' %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        {% if category == "success" %}
            <div class="alert alert-success mx-5 my-3" role="alert">{{ message }}</div>
        {% else %}
            <div class="alert alert-danger mx-5 my-3" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h2 class="m-4">Inventar hinzufügen</h2>
    <div class="container my-4" style="width: 80%;">
        
        <div class="h-[270px] shadow-md bg mt-4">
            <form method="post" action="{{url_for('index')}}" class="rounded h-[700px] px-8 pt-2 mb-4 grid max-h-[270px] grid-cols-3 gap-4">
                
                <div class="form-row row">
                    <div class="form-group col-md-3">
                        <label class="text-gray-700 text-sm font-bold mb-2" for="inventoryNum">Inventarnummer</label>
                        <input class="form-control shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="inventoryNum" name="inventoryNum" type="text" value="{{inventoryNum}}" placeholder="Inventarnummer eingeben">
                    </div>
                    <div class="form-group col-md-5">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="hostName">
                            Hostname
                        </label>
                        <input class="form-control shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="hostName" name="hostName" type="text" value="{{hostName}}" placeholder="Hostname eingeben">
                    </div>
                </div>

                <div class="form-row row">
                    <div class="form-group col-md-5">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="device">
                            Gerät
                        </label>
                        <input class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="device" name="device" type="text" value="{{deviceName}}" placeholder="Gerät eingeben">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
                            Datum
                        </label>
                        <input class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="date" name="date" type="date" value="{{date}}" placeholder="Datum auswählen">
                    </div>
                </div>

                <div class="form-row row">
                    <div class="form-group col-md-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="serialNum">
                            Seriennummer
                        </label>
                        <input class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="serialNum" name="serialNum" type="text" value="{{serial}}" placeholder="Seriennummer eingeben">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="macAddress">
                            MAC-Adresse
                        </label>
                        <input class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="macAddress" name="macAddress" type="text" value="{{mac}}" placeholder="MAC-Adresse eingeben">
                    </div>
                </div>
                    <div class="col-span-3 flex justify-end my-4">
                        <button class="btn btn-primary h-[50px] w-[100px] text-white font-bold rounded py-2 px-4 border hover:border-black hover:text-black hover:bg-white transition-all " type="submit">
                            Hinzufügen
                        </button>
                        <button class="btn btn-secondary h-[50px] w-[100px] hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2" type="reset">
                            Zurücksetzen
                        </button>
                    </div>
            </form>
            </div>

        <div dir="rtl">
            <div class="dropdown mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Aktionen
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Aktion 1</a>
                  <a class="dropdown-item">Aktion 2</a>
                  <a class="dropdown-item">Aktion 3</a>
                </div>
              </div>
        </div>

        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">Inventarnummer</th>
                <th scope="col">Hostname</th>
                <th scope="col">Gerätename</th>
                <th scope="col">Seriennummer</th>
                <th scope="col">Kaufdatum</th>
                <th scope="col">MAC-Adresse</th>
                <th scope="col">Bearbeiten / Löschen</th>
            </tr>
            </thead>
            <tbody>
                {% for item in Table %}
                <tr>
                    <th scope="row">{{item.InventoryNumber}}</th>
                    <td>{{item.HostName}}</td>
                    <td>{{item.DeviceName}}</td>
                    <td>{{item.SerialNumber}}</td>
                    <td>{{item.PurchaseDate}}</td>
                    <td>{{item.MACAddress}}</td>
                    <td>
                        <a href="{{ url_for('edit', num=item.InventoryNumber )}}"><button onclick="storeScrollPosition()" class="btn btn-secondary mx-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg></button></a>
                        <a href="{{ url_for('delete', num=item.InventoryNumber )}}"><button onclick="storeScrollPosition()" class="btn btn-danger mx-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function storeScrollPosition() {
            sessionStorage.setItem('scrollPosition', window.scrollY);
        }
        function scrollToStoredPosition() {
            var scrollPosition = sessionStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition));
            }
        }
    </script>
{% endblock %}
